django

# for django.contrib.admindocs
docutils

# Django community extensions
# Ninja
django-ninja
django-ninja-extra

# DRF
djangorestframework

django-filter

# development tools
django-debug-toolbar
django-extensions
