fastapi[async]

# fastapi community extensions
fastapi-users[sqlalchemy, oauth]
sqladmin[full]

# database
sqlalchemy[aiosqlite]
# sqlalchemy[aiomysql]
# sqlalchemy[postgresql-asyncpg]
alembic
redis

# version
packaging

# jwt
python-jose[cryptography]
passlib
