fastapi[all]

# fastapi community extensions
fastapi-users[sqlalchemy, oauth]
sqladmin[full]
fastapi-cache2
fastapi-utils[all]
fastapi-pagination
prometheus-fastapi-instrumentator

# database
sqlalchemy[aiosqlite]
# sqlalchemy[aiomysql]
# sqlalchemy[postgresql-asyncpg]
alembic
redis

# version
packaging

# jwt
python-jose[cryptography]
passlib
