numpy
scipy
pandas
matplotlib

# file
pyyaml
tomli

# dev
isort       # sort import
autopep8    # formatter
ruff        # linter

# utils
pipdeptree  # show python package dependency
pip_search  # pip search
tqdm        # progress bar

# test
pytest
tox
coverage

# build
build
setuptools
hatch
Cython
pybind11
