numpy

# file
pyyaml
tomli

# dev
isort       # sort import
autopep8    # formatter
ruff        # linter

# utils
pipdeptree  # show python package dependency
pip_search  # pip search

# test
pytest

# build
build
setuptools
hatchling
Cython
pybind11
