Flask[async]

# flask community extensions
Flask-SQLAlchemy
Flask-Migrate
Flask-Admin[sqlalchemy,images,export,translation]
Flask-Login
Flask-WTF
Flask-DebugToolbar
Flask-Limiter
Flask-Caching

gunicorn

# music
mutagen
