<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Paladin Django Learn{% endblock %}</title>
  {% load static %}
  <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extra_css %}{% endblock %}
</head>

<body>
  <header class="navbar">
    <div class="container">
      {% block navbar %}{% endblock %}
    </div>
  </header>

  <main class="container">
    <aside class="sidebar">
      {% block sidebar %}{% endblock %}
    </aside>
    {% block content %}
    <h1>Hello World!</h1>
    {% endblock %}
  </main>

  <footer>
    <div class="container">
      <p>© 2025 Sokyoei All Rights Reserved.</p>
      {% block footer %}{% endblock %}
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <script src="{% static 'js/base.js' %}" defer></script>
  {% block extra_js %}{% endblock %}
</body>

</html>
